@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #121012;
}

body ::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

body ::-webkit-scrollbar-thumb {
  background-color: #42ffa0; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.btn {
  width: 100%;
  font-weight: 600;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #272627;
  color: #fff;
}

.btn:hover {
  background-color: #42ffa0;
  color: #1e1d1e;
  font-weight: bold;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
}

.clicked {
  background-color: #42ffa0;
  color: #272627;
  font-weight: 600;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  font-size: 12px;
  background-color: #fff;
  color: #1e1d1e;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
